<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
<h3>Edit you chat <%= chat._id %></h3>
<P>this chat was sent from <%= chat.from %> to <%= chat.to %></P>
<form method="POST" action="/chats/<%=chat._id %>?_method=PUT">
<textarea name="message" id="msg" rows="10" cols="26" >
<%= chat.message %></textarea>
<br>
   <button>Edit</button> 
   
</form>

</body>
</html>